@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
:root {
  --card-color1: #e2e2e2;
  --card-color2: #a9b2ba;
  --card-color3: #f2db8c;
  --card-color4: #f4b80d;
  --card-color5: #895f24;
  --card-color6: #a6a2a0;
  --card-color7: #242321;
  --card-color8: #f2db8cba;
  --color-rgb1: rgb(223 229 234);
  --color-rgb2: rgb(242 242 242);
  --color-rgb3: rgb(242 242 242);
  --color-rgb4: rgb(223 229 234);
  --color-rgb5: rgb(223 229 234);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: #dfe5eb;
}
img {
  width: 100px;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  width: 80%;
  margin: 5% auto;
  gap: 50px;
  justify-content: start;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: #f2f2f2;
  padding: 25px 15px;
}
.card1 {
  background-image: url(../img/img5.png);
  background-size: cover;
  background-position: 40% 70%;
}
.top-card1 {
  width: 100%;
  color: #ffffff;
}
.top-card1 h2 {
  margin: 10% 0;
}
.icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.card1 button {
  all: unset;
  width: 90%;
  margin: 0 auto;
  border: 1px solid transparent;
  border-radius: 5px;
  text-align: center;
  background-color: #ffffff;
  color: var(--card-color4);
  padding: 8px;
}
